body {
    margin: 0%;
}

/* skills section */
#skills {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
}

.skills-title {
    color: #77a5e6;
    font-size: 40px;
    text-decoration: underline;
}

.learning-section {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    width: 60%;
    margin: 100px auto 0 auto;
    text-align: left;
}

.learning {
    color:#3c72c3;
    grid-area: 1 / 2 / 2 / 3;
}

.learning-text {
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
}

.mindset {
    color:#3c72c3;
}

.motorcycle {
    color: #3c72c3;
}

/* contact section */
#contact {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.touch {
    color: #77a5e6;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.interested {
    color:#3c72c3;
}

.contact-message {
    margin-left: 50px;
    margin-right: 50px;
    font-size: larger;
}

.button {
    margin-top: 20px;
    background-color: #77a5e6;
    color: white;
    font-size: x-large;
    padding: 15px;
    border-radius: 5px;
    background-image: linear-gradient(#77a5e6, #006aff);
}

.button:hover {
    background-image: none;
    background-color: #759bd3;
}

/* footer */
.footer {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #77a5e6;
    height: 100px;
    padding: 10px;
}

a {
    font-size: larger;
    text-decoration: none;
    color: white;
}

a:hover {
    font-size: x-large;
}