body {
    margin: 0%;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #77a5e6;
}

a {
    font-size: larger;
    text-decoration: none;
    color: #003f97;
}

a:hover {
    color: white;
    font-size: x-large;
}