body {
    margin: 0%;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #508EE6;
}

a {
    color: white;
    font-size: larger;
    text-decoration: none;
}